html {
  font-size: 14px;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0.4rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0.3rem;
}

.main {
  padding: 0 1rem;
}

.wrapper {
  padding: 1rem 0;
}

.link {
  color: #222;
  text-decoration: none;
}

.page-container {
  margin: 0.5rem;
}

.page-container-header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.title {
  text-align: center;
}

.page-container-body {
  margin: 1rem -0.5rem;
}

.item-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  overflow: hidden;
  margin: 1rem 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page-container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .item-container {
    margin: 1rem 0.25rem;
    max-width: 46%;
    flex-grow: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .item-container {
    max-width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .item-container {
    max-width: 23%;
  }
}
